#contact_form_container, #group_form_container {
    display: none;
}

#inline_group_div, #inline_contact_div, #inline_topic_div {
    display: none;
}

#object_icons a {
    text-decoration: none;
}

/* Class for archived topics in topics list */
.archived-object {
    background-color: #F0F0F0;
}

/* Auto-hide in inlines */
#topic_list .archived-object {
    display: none;
}


.topic-dropdown .dropdown-menu {
    padding: 10px;
    min-width: 200px;
    line-height: 20px;
}

.archive-keyword, .star-keyword {
    display: inline;
}
