
<h3>Contacts</h3>

    <div id="contact_list">
        {% if no_contacts_message %}

            {{ no_contacts_message | safe }}

        {% endif %}

        {% for contact in object.contacts.all %}

            <a href="{{ contact.get_url }}"> {{ contact.name }}</a>

        {% endfor %}

    </div>

    <button type="button" class="btn btn-default btn-sm" id="load_contact_manager"
        onClick="$('#inline_contact_div').show();">Manage</button>

    <button id="manage_contact_close" class="btn btn-default btn-sm" href="#"
        onClick="$('#inline_contact_div').hide();">Close</button>

    <button id="manage_contact_submit" class="btn btn-default btn-sm" href="#">Save</button>

    <div id="inline_contact_div">

        Filter options: <input id="filter_options" />

        <form method="POST" id="contact_manage_form">

            {% csrf_token %}

            {{ manage_contact_form }}

        </form>

    </div>
