{% extends "index.html" %}

{% block title %}

    {{ object.name }} Contact Details

{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <h1 id="contact_name">{{ object.name }}</h1>
            <h3 id="contact_details">{{ object.details}}</h3>
            <h2><a id="contact_edit" href="{% url 'contact_edit' object.pk %}">Edit</a></h2>

            {% include 'group_dropdown.html' %}

        </div>
    </div>

{% endblock content %}
