<div class="btn-group" id="add_to_group">

    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add to Group<span class="caret"></span>
    </button>

    <ul class="dropdown-menu">

        {% ifequal object.group_set.count 0 %}

            <li id="group_message">You do not have any groups.</li>
            <li role="separator" class="divider"></li>
            <li><a href="#" id="create_group_link">Create a group</a></li>

        {% endifequal %}

        {% for group in object.group_set.all %}

            <li><a href="#"> {{ group.name }}</a></li>

        {% endfor %}

    </ul>
</div>
