
<div class="groups_div">
<h3>Groups</h3>

    <div id="group_list">
        {% if no_groups_message %}

            {{ no_groups_message | safe }}

        {% endif %}

        {% for group in object.group_set.all %}

            <a href="{{ group.get_url }}"> {{ group.name }}</a>

        {% endfor %}
    </div>

    <button type="button" class="btn btn-default btn-sm manager-button" id="load_group_manager"
        toggle-state="off">Manage</button>
    <button id="manage_group_submit" class="btn btn-default" href="#">Save</button>

    <div id="inline_group_div" class="inline_div">

        Filter options: <input id="filter_options" />

        <form method="POST" id="group_manage_form">

            {% csrf_token %}

            {{ manage_group_form }}

        </form>

    </div>
</div>
