{% load staticfiles %}
<html>

<head>
{% block head %}

    <title> {% block title %} Smalltalk {% endblock title %} </title>

    <link rel="stylesheet" type="text/css" href="{% static "smalltalk.css" %}">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static "smalltalk.js" %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

{% endblock head %}
</head>


<body>
{% block body %}

    <div id="header-title"><h1>Smalltalk</h2></div>

    {% include 'new_contact.html' %}

    {% include 'new_group.html' %}

{% endblock body %}
</body>


</html>
