{% extends "detail.html" %}

{% block inner-content %}

    <h1 id="topic_name">{{ object.name }}</h1>


    <h4 id="object_icons">
        <a id="topic_edit" href="{% url 'topic_edit' object.pk %}">
            <span class="glyphicon glyphicon-edit" title="edit">Edit</span>
        </a>

        {% with topic=object %}
            {% include 'topic_icons.html' %}
        {% endwith %}
    </h4>

    <h3 id="topic_details">{{ object.details}}</h3>
    <h3 id="topic_link">{{ object.link}}</h3>

    {% include 'contact_inline.html' %}

    {% include 'group_inline.html' %}

{% endblock inner-content %}
